*
!*/
!*.*
.DS_Store
.RData
.Rhistory
Preprocess/GTEx/Brain.v8.signif_rs_gene_pairs.txt
Preprocess/GTEx/GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_838Indiv_Analysis_Freeze.lookup_table.txt
Preprocess/GTEx/variant_lookup_table.txt
Preprocess/GTEx/GTEx_Analysis_v8_eQTL
Preprocess/Ensembl/*.xrefs
Preprocess/Ensembl/ensembl_ortholog.txt
Data1
Data2
Data3
Data4
Data5
Data8
Data9
Data11
Data12
Data14
FigS3_original
